html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--fr);
    color: var(--ct);
    font-variant-numeric: lining-nums tabular-nums;
    background-color: var(--cw);

    &.overhide {
        overflow: hidden;
    }

    * {
        font-variant-numeric: lining-nums tabular-nums;
    }
}

input {
    font-variant-numeric: lining-nums tabular-nums;
}

.main {
    padding-bottom: 11rem;
    overflow: hidden;
}

.container {
    max-width: 90rem;
    padding: 0 3.5rem;
    width: 100%;
    margin: 0 auto;
}

p {
    color: var(--ct2);
}

.button {
    padding: 1rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 4rem;
    font-size: 1.125rem;
    font-family: var(--fs);
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: .3s;
    box-shadow: none;

    &:hover {
        box-shadow: var(--shadow);
    }

    &.yellow {
        background-color: var(--cy);
        color: var(--ct);
    }

    &.border {
        border: 1px solid var(--ct);
        color: var(--ct);
    }

    &.white {
        background-color: var(--cw);
        color: var(--ct);
    }

    &.gray {
        background-color: var(--cbg);
        color: var(--ct);
    }

    &.black {
        background-color: var(--ct);
        color: var(--cw);
    }

    &.withicon {
        gap: 0.5rem;

        svg {
            width: 1.25rem;
            height: 1.25rem;
            margin-top: -0.125rem;
        }
    }

    &.witharrow {
        padding-left: 1.5rem;
        padding-right: 2rem;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &.bottom {
            &::after {
                border-radius: 0 0.75rem 0 0.75rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M14.1667 14.1667L5 5' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M9.16602 14.8904C9.16602 14.8904 13.8606 15.2862 14.5731 14.5738C15.2855 13.8614 14.8897 9.16669 14.8897 9.16669' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }

            &:hover {
                &::after {
                    background-position: 1.35rem 1.25rem;
                }
            }
        }

        &:hover {
            &::after {
                background-position: 1.35rem -1.25rem;
            }
        }

        &::after {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 0.75rem 0 0.75rem 0;
            transition: 0.3s;
            overflow: hidden;
            content: "";
            background-position: 0 0;
            background-size: contain;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_62_5851)'%3E%3Cpath d='M14.1667 5.83325L5 14.9999' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M9.16602 5.10961C9.16602 5.10961 13.8606 4.71387 14.5731 5.42629C15.2855 6.13873 14.8897 10.8334 14.8897 10.8334' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M-6.83398 21.1096C-6.83398 21.1096 -2.1394 20.7139 -1.4269 21.4263C-0.714484 22.1387 -1.11032 26.8334 -1.11032 26.8334' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_62_5851'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
}

.section__upper {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    font-family: var(--fm);
    color: var(--ct2);
}

h1 {
    font-size: 7.5rem;
    line-height: 6.5rem;
    font-family: var(--fs);
}

h2 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-family: var(--fs);
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: var(--fs);
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--fm);
    margin: 0;
}

h5 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-family: var(--fm);
    margin: 0;
}

h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--fm);
    margin: 0;
}

.section__simple {
    padding-top: 8rem;
}

button {
    background-color: transparent;
}

.pagination__cont {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    .facetwp-pager {
        min-width: 28rem;
        padding: 0 4.25rem;
        min-height: 2.75rem;
        gap: 1.5rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        max-width: 100%;

        .prev,
        .next {
            width: 2.75rem;
            height: 2.75rem;
            background-size: 1.25rem;
            border-radius: 50%;
            background-color: var(--cbg2);
            position: absolute;
            top: 0;
            font-size: 0;
            background-repeat: no-repeat;
            background-position: center center;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: var(--cy);
            }

            &.prev {
                left: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M12.5 15C12.5 15 7.5 11.3176 7.5 10C7.5 8.68233 12.5 5 12.5 5' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }

            &.next {
                right: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7.50004 5C7.50004 5 12.5 8.68242 12.5 10C12.5 11.3177 7.5 15 7.5 15' stroke='%230E0E0E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }

        .facetwp-page:not(.prev, .next) {
            font-size: 1.125rem;
            line-height: 1.5rem;
            min-width: 1.5rem;
            cursor: pointer;
            text-align: center;

            &.active {
                color: var(--ct3);
                position: relative;

                &::after {
                    height: 0.25rem;
                    border-radius: 0.25rem;
                    background-color: var(--cy);
                    content: "";
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}

.embeded {
    font-size: 1.125rem;
    line-height: 1.333em;

    & > * {
        margin-bottom: 1.333em;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.25em;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--fm);
    }

    h1 {
        font-size: 2.5rem;
        font-family: var(--fs);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    h6 {
        font-size: 1.3rem;
    }

    a {
        color: var(--cb3);
    }

    ul {
        margin-left: 1em;

        li {
            margin-bottom: 0.25em;
            list-style: disc;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ol {
        margin-left: 1em;

        li {
            margin-bottom: 0.25rem;
            list-style: decimal;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wp-block-image,
    .wp-block-video,
    .wp-block-embed {
        margin: 2.667em 0;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--cbor);
        width: 100%;

        &.is-resized {
            img,
            video,
            iframe {
                width: 100% !important;
            }
        }

        img,
        video,
        iframe {
            max-width: 100% !important;
            display: block;
            height: auto;
        }

        &.wp-block-video {
            iframe {
                height: 100% !important;
            }
        }

        .wp-block-embed__wrapper {
            padding-top: calc(100% / 16 * 9);
            position: relative;
        }

        .alignleft,
        .alignright {
            margin: 0;
            float: left;
            max-width: calc(50% - 1rem);
            width: 100%;
            margin-right: 1.5rem;
            margin-bottom: 3rem;

            img {
                display: inline-block;
            }
        }

        .alignright {
            float: right;
            margin-right: 1.5rem;
            margin-left: 0;
            margin-bottom: 3rem;
        }

        .aligncenter {
            display: flex;
            justify-content: center;
            margin: 0;
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    iframe {
        width: 100% !important;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100% !important;
    }

    .wp-element-caption {
        font-size: 0.8em;
        padding-top: 0.625em;
        margin-top: 0.625em;
        border-top: 1px solid $cbor;
        display: block;
        color: var(--ct2);
        line-height: normal;

        strong {
            font-size: 1.125em;
            font-style: italic;
        }
    }

    blockquote {
        padding-left: 1.5rem;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        border-left: 1px solid var(--cg);

        cite {
            margin-top: 0.5rem;
            font-family: var(--fs);
            display: block;
        }
    }

    .gutenberg__carousell {
        margin-top: 3rem;
        margin-bottom: 4.5rem;
        padding-bottom: 3rem;

        .splide__track {
            overflow: hidden;
        }

        .splide__slide {
            padding-top: 58%;
            border-radius: 1.5rem;
            position: relative;
            overflow: hidden;
        }

        .splide__arrows.bottom__arrows {
            gap: 0.75rem;
            left: 0;
            bottom: 0;
            transform: translateY(50%);
            position: absolute;
            width: 100%;
            display: block;
            display: flex;

            &::before {
                left: 8.25rem;
                right: 0;
                top: 50%;
                height: 1px;
                background-color: var(--cbor);
                content: "";
                position: absolute;
            }

            button {
                width: 3rem;
                height: 3rem;
                background-size: 1.5rem !important;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-color: transparent;
                background-color: var(--cy);
                transform: none;
                transition: 0.3s;
                position: static;
                opacity: 1;

                &:disabled {
                    opacity: 0.5;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.splide__arrow--prev {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23' fill='none'%3E%3Cpath d='M7.28623 11.3139H17.6571' stroke='%230E0E0E' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M9.70458 8.07592C9.70458 8.07592 6.82506 10.5077 6.82502 11.3138C6.82503 12.1198 9.70462 14.5515 9.70462 14.5515' stroke='%230E0E0E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }

                &.splide__arrow--next {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23' fill='none'%3E%3Cpath d='M16.7138 11.6861L6.34287 11.6861' stroke='%230E0E0E' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M14.2954 14.9241C14.2954 14.9241 17.1749 12.4923 17.175 11.6862C17.175 10.8802 14.2954 8.44846 14.2954 8.44846' stroke='%230E0E0E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 1.11vw;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 16px;
    }
    .overHideMob {
        overflow: hidden;
    }
    .main {
        padding-bottom: 6rem;
    }
    .container {
        padding: 0 1rem;
    }
    p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    .button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        &.witharrow {
            padding: 1rem 1.5rem;
        }
    }
    .section__upper {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }
    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: var(--fs);
    }
    h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .section__simple {
        padding-top: 6rem;
    }
    .pagination__cont {
        margin-top: 2.5rem;
        .facetwp-pager {
            min-width: inherit;
            padding: 0 3.5rem;
            min-height: 2.5rem;
            gap: 1rem;
            .prev,
            .next {
                width: 2.5rem;
                height: 2.5rem;
                background-size: 1rem;
            }
            .facetwp-page:not(.prev, .next) {
                font-size: 1rem;
                &.active {
                    &::after {
                        height: 0.125rem;
                    }
                }
            }
        }
    }
    .embeded {
        font-size: 1rem;
        line-height: 1.5em;
        & > * {
            margin-bottom: 1em;
            &:first-child {
                margin-top: 0 !important;
            }
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        p {
            font-size: 1em;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1.333em;
        }
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.4rem;
        }
        h4 {
            font-size: 1.3rem;
        }
        h5 {
            font-size: 1.2rem;
        }
        h6 {
            font-size: 1.1rem;
        }
        .wp-block-image,
        .wp-block-video,
        .wp-block-embed {
            margin: 3em 0;
        }
        .wp-block-image {
            .alignleft, .alignright {
                margin-bottom: 1.5rem !important;
            }
            .aligncenter  {
                margin-bottom: 1.5rem !important;
            }
        }

        .gutenberg__carousell {
            margin-bottom: 4.3rem;
            padding-bottom: 2.3rem;
            .splide__slide {
                border-radius: .75rem;
            }
            .splide__arrows.bottom__arrows {
                &::before {
                    left: 7.25rem;
                }
                button {
                    width: 2.75rem;
                    height: 2.75rem;
                    background-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .embeded {
        .gutenberg__carousell {
            .splide__slide {
                padding-top: 74.4%;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    html {
        font-size: 4.3vw;
    }
}
