<section class="section__projects">
  <div class="container">
    <div class="projects__heading">
      <h1>Проєкти фонду</h1>
      <p class="projects__desc">
        Тут ви можете познайомитись із проєктами фонду «Життєлюб».  Так ми
        станемо ближчими, а ви знайдете для себе проєкт до душі — в якому ви
        зможете взяти участь як волонтер чи партнер.
      </p>
    </div>
    <div class="projects__main">
      <div class="projects__filtercont">
        <div
          class="facetwp-facet facetwp-facet-categories"
          data-name="categories"
          data-type="radio"
        >
          <div class="facetwp-radio checked" data-value="">Всі проєкти</div>
          <div class="facetwp-radio" data-value="cat1">
            <span class="facetwp-display-value">Активний</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat2">
            <span class="facetwp-display-value">Запрошуємо волонтерів</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat3">
            <span class="facetwp-display-value">Архівний</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat4">
            <span class="facetwp-display-value">Запрошуємо партнерів</span
            ><span class="facetwp-counter">(1)</span>
          </div>
        </div>
      </div>

      <ul class="projects__list firstB">
        <load="../elements/project.html" />
        <load="../elements/project.html" />
        <load="../elements/project.html" />
        <load="../elements/project.html" />
        <load="../elements/project.html" />
        <load="../elements/project.html" />
        <load="../elements/project.html" />
      </ul>
      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1">&lt;</a
            ><a class="facetwp-page first" data-page="1">1</a
            ><a class="facetwp-page active" data-page="2">2</a
            ><a class="facetwp-page" data-page="3">3</a
            ><a class="facetwp-page" data-page="4">4</a
            ><a class="facetwp-page dots">…</a
            ><a class="facetwp-page last" data-page="8">8</a
            ><a class="facetwp-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
