<li class="newsitem__item">
    <a href="#" class="news__img">
        <img src="/img/content/news.jpg" alt="" class="cover">
        <span class="news__tag nws">
            Новини
        </span>
        <soan class="project__overlink"><img src="./img/decor/glass.png" alt=""></soan>
    </a>
    <p class="news__desc">
        Сupidatat non proident, sunt in culpa qui officia deserunt 
    </p>
    <a href="#" class="news__name">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
    </a>
</li>