<li class="newsitem__item splide__slide">
  <a href="/article.html" class="news__img">
    <img src="/img/content/news.jpg" alt="" class="cover" />
    <span class="news__tag nws"> Новини </span>
    <soan class="project__overlink"
      ><img src="./img/decor/glass.png" alt=""
    /></soan>
  </a>
  <div class="newsone__bottom">
    <p class="news__desc">
      Сupidatat non proident, sunt in culpa qui officia deserunt
    </p>
    <a href="/article.html" class="news__name"> Життєлюб поруч </a>
    <ul class="project__tags news__tags">
      <li>Простір Життєлюб</li>
    </ul>
    <a href="/article.html" class="project__button button yellow witharrow">
      Дізнатись більше
    </a>
  </div>
</li>
