<li class="project__item splide__slide">
  <div class="project__top">
    <a href="/project.html" class="project__name"> Життєлюб поруч </a>
    <p class="oroject__desc">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <ul class="project__tags flex">
        <li class="active">Активний</li>
        <li class="partners">Запрошуємо Партнерів</li>
        <li class="hairing">Шукаємо Волонтерів</li>
        <li class="arch">Архівний</li>
    </ul>
    <a href="/project.html" class="project__button button yellow witharrow">
      Дізнатись більше
    </a>
  </div>
  <div class="project__bottom">
    <div class="project__img">
        <img src="./img/content/project.jpg" class="cover" alt="">
    </div>
    <a href="/project.html" class="project__arrow"></a>
    <a href="/project.html" class="project__overlink">
        <img src="./img/decor/glass.png" alt="">
    </a>
  </div>
</li>
