<section class="section__projects section__blog">
  <div class="container">
    <div class="projects__heading">
      <h1>Новини фонду</h1>
      <p class="projects__desc">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="projects__main">
      <div class="projects__filtercont">
        <div
          class="facetwp-facet facetwp-facet-search facetwp-type-search"
          data-name="search"
          data-type="search"
        >
          <span class="facetwp-input-wrap"
            ><i class="facetwp-icon"></i
            ><input
              type="text"
              class="facetwp-search"
              value=""
              placeholder="Пошук"
              autocomplete="off"
          /></span>
        </div>

        <div class="filter__item projects__sort">
          <button class="project__sortctrl">Сортувати за датою</button>
          <div
            class="facetwp-facet facetwp-facet-sort_ facetwp-type-sort"
            data-name="sort_"
            data-type="sort"
          >
            <select>
              <option value="">Сортування</option>
              <option value="_">Спочатку останні</option>
            </select>
          </div>
        </div>

        <div
          class="facetwp-facet facetwp-facet-categories"
          data-name="categories"
          data-type="radio"
        >
          <div class="facetwp-radio checked" data-value="">Всі проєкти</div>
          <div class="facetwp-radio" data-value="cat1">
            <span class="facetwp-display-value">Простір Життєлюб</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat2">
            <span class="facetwp-display-value">Обід без бід</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat3">
            <span class="facetwp-display-value">Життєлюб поруч</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat4">
            <span class="facetwp-display-value">Гуманітарний хаб</span
            ><span class="facetwp-counter">(1)</span>
          </div>
          <div class="facetwp-radio" data-value="cat5">
            <span class="facetwp-display-value">Трудолюб</span
            ><span class="facetwp-counter">(1)</span>
          </div>
        </div>
        <a href="#" class="projects__donate"></a>
      </div>

      <ul class="projects__list firstB">
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
        <load="../elements/newsitem.html" />
      </ul>
      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1">&lt;</a
            ><a class="facetwp-page first" data-page="1">1</a
            ><a class="facetwp-page active" data-page="2">2</a
            ><a class="facetwp-page" data-page="3">3</a
            ><a class="facetwp-page" data-page="4">4</a
            ><a class="facetwp-page dots">…</a
            ><a class="facetwp-page last" data-page="8">8</a
            ><a class="facetwp-page next" data-page="3">&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
