.section__main {
    position: relative;
}

.main__inner {
    min-height: 46.2rem;
    padding-top: 8em;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.main__content {
    max-width: 40rem;
    position: relative;
    z-index: 2;
}

.main__text {
    margin-top: 2rem;
    max-width: 34rem;

    b, strong {
        font-weight: normal;
        color: var(--ct);
    }

    & > * {
        margin-top: 1.5rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.main__left {
    width: calc(50% + 1.25rem);
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../../../img/backgrounds/bggrad.png);
    background-size: contain;
}

.main__bg {
    height: 100%;
    width: auto;
    display: block;
}

.main__dec {
    height: 53.875rem;
    width: 60.5rem;
    transform: rotate(137.64deg);
    top: -10.5rem;
    left: -32.4rem;
    z-index: 1;
    position: absolute;
}

.main__mob {
    display: none;
}

.main__donat {
    width: 6rem;
    height: 6rem;
    right: 3.5rem;
    bottom: 3.5rem;
    z-index: 14;
    position: fixed;
    box-shadow: var(--shadow);
    border-radius: 50%;
    display: block;
    background-color: var(--cy);

    &:hover {
        a:nth-child(1) {
            right: 5rem;
            background-color: var(--cbg2);
        }
    }

    a:nth-child(2) {
        background-size: 2.4375rem;
        transform: rotate(-12.209deg);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 50%;
        background-color: var(--cy);
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='61' viewBox='0 0 41 61' fill='none'%3E%3Cpath d='M33.8866 21.0815C33.9132 21.4559 34.2274 21.7422 34.6042 21.7334L34.6359 21.7326C34.8221 21.7184 34.9927 21.633 35.1164 21.4912C35.24 21.3495 35.2993 21.1695 35.285 20.9814C35.1319 18.8482 34.5521 16.7051 33.6025 14.787C33.5192 14.6203 33.3754 14.4947 33.1974 14.4334C33.0195 14.3741 32.8293 14.3864 32.6626 14.4697C32.4939 14.553 32.3683 14.6968 32.3089 14.8728C32.2496 15.0508 32.262 15.2409 32.3453 15.4076C33.2136 17.163 33.7476 19.1246 33.8866 21.0796L33.8866 21.0815Z' fill='%230E0E0E' stroke='%230E0E0E' stroke-width='0.5'/%3E%3Cpath d='M34.9266 23.7416C34.5461 23.6751 34.181 23.9296 34.1145 24.3101L34.006 24.9277C33.9395 25.3082 34.194 25.6733 34.5745 25.7398C34.6204 25.7486 34.6661 25.7515 34.7137 25.7504C35.0468 25.7426 35.3288 25.4999 35.3866 25.1712L35.4951 24.5536C35.5285 24.3683 35.4865 24.1828 35.3797 24.0286C35.2729 23.8743 35.1118 23.773 34.9265 23.7396L34.9266 23.7416Z' fill='%230E0E0E' stroke='%230E0E0E' stroke-width='0.5'/%3E%3Cpath d='M39.0616 14.8697C38.5359 12.7532 37.5267 10.9991 36.1435 9.79544C36.477 9.04165 36.4934 7.79332 36.4625 6.55404L36.4586 6.38748C36.4381 5.34437 36.2724 4.62011 35.4903 4.0075C35.2376 3.80905 34.9278 3.62583 34.5798 3.42169C33.4795 2.78079 32.2353 2.26033 30.883 1.87135C28.7258 1.2532 26.2866 0.959082 23.203 0.941928C18.1492 0.917292 13.6558 1.78425 9.8436 3.52412C8.45738 4.14381 7.11144 4.87366 5.83897 5.69108L5.69428 5.78176C5.09996 6.15873 4.5369 6.51513 4.38265 7.55439C4.30045 8.11184 4.33488 8.65068 4.36898 9.17565L4.36954 9.19944C4.37846 9.32621 4.38737 9.45298 4.39228 9.57786C4.42789 10.3369 4.53719 11.1081 4.71765 11.8677C3.18187 13.0484 2.0258 14.9404 1.45774 17.2036C0.924205 19.331 0.918649 21.5532 0.912919 23.5136C0.884414 34.085 1.08544 44.7999 1.50697 55.3569C1.51747 55.6364 1.69984 55.8841 1.96405 55.9831C2.45853 56.5964 3.17575 56.9785 3.70016 57.2598C6.45072 58.7331 9.54266 59.7024 12.6403 60.0664C14.8068 60.3213 17.0194 60.4243 19.2165 60.3729C22.0342 60.307 24.8817 59.9864 27.6818 59.4209C29.076 59.1403 30.2355 58.7541 31.7061 58.2634L31.7986 58.2334C32.0644 58.1459 32.34 58.0541 32.6274 57.9581C34.0903 57.4775 35.5442 56.6102 36.281 56.1367L36.3651 56.0831C37.3502 55.449 38.1262 54.9487 38.8702 53.2528C38.9229 53.1306 38.9416 52.9992 38.9207 52.8668C39.3652 42.353 39.59 31.6917 39.5881 21.1765C39.5878 19.2163 39.5875 16.9942 39.0596 14.8678L39.0616 14.8697ZM10.3655 53.0625C13.1429 52.3785 16.0497 52.134 18.5554 51.9583C24.7572 51.5255 31.3037 51.4101 37.1772 53.4809C36.747 54.1715 36.2876 54.466 35.6035 54.9065L35.5214 54.96C34.8413 55.3986 33.5049 56.1976 32.1916 56.6291C31.8943 56.7273 31.6089 56.8213 31.3352 56.913L31.2584 56.9386C29.8371 57.4123 28.7129 57.7858 27.4057 58.0485C22.5421 59.0313 17.6306 59.2414 12.8042 58.6757C9.87768 58.3335 6.95961 57.4177 4.36174 56.0262C4.01816 55.8418 3.73264 55.6798 3.49443 55.5048C5.62167 54.5881 7.92137 53.6653 10.3635 53.0625L10.3655 53.0625ZM30.0286 5.97045C22.3465 7.5826 14.5082 7.8572 6.72766 6.78729C7.90062 6.04164 9.14286 5.37373 10.4211 4.8022C13.7563 3.27983 17.6634 2.45634 22.0377 2.35402C22.4224 2.34503 22.8112 2.34188 23.1962 2.34478C26.1468 2.36108 28.4666 2.63815 30.4979 3.21956C31.7383 3.57545 32.8744 4.05083 33.874 4.63257C33.9284 4.66502 33.9807 4.69554 34.033 4.72606C32.7327 5.37152 31.2862 5.70692 30.0286 5.97244L30.0286 5.97045ZM7.55428 10.3193C7.54475 10.506 7.61044 10.6851 7.73474 10.825C7.86098 10.9629 8.0335 11.0442 8.22221 11.0537C8.60542 11.0665 8.93376 10.7692 8.95262 10.3878L9.04477 8.47505C9.92179 8.56365 10.7388 8.63184 11.5396 8.68453C11.5505 9.65842 11.5058 10.6316 11.4069 11.5783C11.2733 11.8017 11.2699 12.0815 11.4003 12.3126C11.5534 12.5828 11.8703 12.7281 12.1704 12.6676C12.4173 12.6181 12.7239 12.4086 12.7735 11.9848C12.8938 10.9364 12.9517 9.85183 12.9421 8.76085C14.0265 8.80889 15.1321 8.83263 16.2332 8.8287C16.2594 9.10386 16.2678 9.37746 16.2562 9.6416C16.2374 10.0269 16.5387 10.3572 16.926 10.3739C17.3133 10.3906 17.6395 10.0874 17.6584 9.70602C17.6715 9.42002 17.6645 9.11861 17.6394 8.81168L17.6434 8.81158C18.7816 8.78496 19.9845 8.72508 21.2223 8.63066C21.2878 9.141 21.3156 9.65222 21.3015 10.1505C21.2959 10.3372 21.3656 10.5161 21.4938 10.652C21.6219 10.7878 21.7963 10.8651 21.9869 10.8706L22.0187 10.8698C22.3934 10.8611 22.694 10.5624 22.703 10.1872C22.718 9.63728 22.6889 9.0745 22.6203 8.51463C23.517 8.42818 24.4272 8.32356 25.331 8.20124C25.37 8.76378 25.383 9.319 25.3717 9.85495C25.3681 10.0415 25.4378 10.2204 25.5679 10.3543C25.698 10.4901 25.8744 10.5654 26.065 10.5708L26.0908 10.5702C26.4675 10.5614 26.768 10.2608 26.7751 9.88363C26.7885 9.27025 26.7697 8.63581 26.723 7.99607C27.8221 7.82553 28.9107 7.62944 29.9612 7.4144C30.0457 8.05921 30.0766 8.70329 30.0575 9.3287C30.052 9.51533 30.1177 9.69434 30.2459 9.8322C30.3741 9.96808 30.5485 10.0473 30.7332 10.0529C31.1224 10.0696 31.4465 9.76047 31.4573 9.37532C31.4818 8.63868 31.4402 7.87978 31.3331 7.11844C31.8974 6.98422 32.3982 6.84751 32.859 6.69984C32.8969 7.04814 32.8675 7.40396 32.7741 7.73549C32.6677 8.107 32.8831 8.49678 33.2566 8.60312C33.3246 8.62335 33.3962 8.6316 33.4656 8.62997C33.7749 8.62274 34.038 8.41819 34.1223 8.1206C34.3002 7.49941 34.3263 6.83416 34.1983 6.19631C34.4791 6.07269 34.7498 5.93938 35.0084 5.79842C35.034 5.96051 35.0487 6.16452 35.0546 6.41635L35.0586 6.58887C35.1177 8.94448 34.8495 9.27018 34.8438 9.27825C32.7722 10.9655 29.9202 11.429 27.161 11.8784L26.7598 11.9434C25.9415 12.0776 25.0879 12.2265 24.3351 12.3592L24.262 12.3728C21.6874 12.8239 19.0258 13.2889 16.391 13.4557C12.4209 13.7073 9.14816 13.2342 6.37572 12.0135C6.17322 11.923 6.16907 11.9151 6.13179 11.7632C5.94207 11.0316 5.82917 10.2763 5.79351 9.51532C5.78621 9.37264 5.77696 9.232 5.76758 9.0854C5.74309 8.71695 5.72539 8.38405 5.74379 8.06816C6.361 8.16086 6.99988 8.2471 7.64849 8.32518L7.55243 10.3253L7.55428 10.3193ZM16.4832 14.8523C19.1913 14.6798 21.8944 14.2079 24.5105 13.7499L24.5954 13.734C25.3799 13.5966 26.192 13.4546 26.9865 13.3249L27.3858 13.26C30.0856 12.8199 32.8764 12.3658 35.151 10.7948C36.335 11.7928 37.2387 13.3589 37.6966 15.2072C38.1829 17.1679 38.1832 19.3007 38.1835 21.1816C38.1849 31.421 37.9701 41.8301 37.5442 52.1232C31.4533 50.0019 24.7699 50.1166 18.4533 50.56C15.8882 50.739 12.9101 50.9912 10.0261 51.7015C7.47153 52.3306 5.07753 53.2933 2.86978 54.2457C2.4756 44.0095 2.28933 33.6712 2.31572 23.5184C2.32133 21.6375 2.32505 19.5066 2.81882 17.5447C3.29064 15.6628 4.21987 14.0816 5.43467 13.089C5.54355 13.1638 5.66812 13.2303 5.81246 13.2944C8.47468 14.4682 11.5186 14.9962 15.1176 14.912C15.5618 14.9016 16.0216 14.8809 16.4812 14.8523L16.4832 14.8523Z' fill='%230E0E0E' stroke='%230E0E0E' stroke-width='0.5'/%3E%3Cpath d='M12.5453 22.1803C10.8294 22.8711 9.62252 24.7108 9.4686 26.867C9.33614 28.7529 9.96045 30.5914 10.5899 32.1401C12.5457 36.9551 15.4827 41.4794 19.084 45.2263L19.6534 45.8181L20.16 45.1714C20.8382 44.3083 21.6298 43.3732 22.4697 42.3834C25.779 38.4828 29.8953 33.6269 31.0755 28.2683C31.4215 26.6928 30.9768 25.1537 29.8519 24.0491C28.7309 22.9484 27.2346 22.5926 25.6383 23.0505C24.306 23.4309 23.0471 24.1488 21.9965 25.1237C21.5324 25.5532 20.8059 26.3022 20.2359 27.0397C19.8048 25.9963 19.3452 24.9258 18.4933 23.9616C17.183 22.4805 14.7624 21.2892 12.5473 22.1802L12.5453 22.1803ZM17.4223 24.9093C18.1499 25.7335 18.5536 26.7081 18.9806 27.7457C19.132 28.1111 19.2877 28.4884 19.4612 28.8653L20.1364 30.3355L20.7682 28.8466C21.0748 28.1272 22.2393 26.85 22.9694 26.1723C23.8569 25.35 24.9161 24.7459 26.0335 24.4261C26.7982 24.2078 27.9077 24.1422 28.852 25.0705C29.6176 25.8223 29.92 26.8767 29.6815 27.9636C28.5786 32.9752 24.5877 37.6794 21.3807 41.4605L21.3691 41.4727C20.7242 42.2338 20.1141 42.9523 19.5529 43.642C16.3344 40.1481 13.6936 35.9879 11.9126 31.6032C11.3168 30.1351 10.7799 28.5585 10.8935 26.9686C10.9875 25.6451 11.6985 24.0611 13.0783 23.507C13.3967 23.3785 13.7383 23.309 14.0932 23.3007C15.4714 23.2685 16.7478 24.1473 17.4223 24.9093Z' fill='%230E0E0E' stroke='%230E0E0E' stroke-width='0.5'/%3E%3C/svg%3E");
    }

    a:nth-child(1) {
        background-size: 3.5625rem;
        box-shadow: var(--shadownone);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 50%;
        background-color: var(--cbg2);
        transition: .3s;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='13' viewBox='0 0 57 13' fill='none'%3E%3Cg clip-path='url(%23clip0_191_7621)'%3E%3Cpath d='M16.4682 12.0574V4.17871C16.4682 1.94381 15.2676 0.882812 13.2516 0.882812C11.5753 0.882812 10.1256 1.87611 9.4913 2.86941C9.0836 1.62781 8.0642 0.882812 6.4559 0.882812C4.7796 0.882812 3.3299 1.92121 2.8768 2.57591V1.15371H0V12.0574H2.8768V4.72051C3.3072 4.11101 4.1453 3.43381 5.142 3.43381C6.32 3.43381 6.773 4.15621 6.773 5.17201V12.0574H9.6725V4.69801C10.0802 4.11101 10.9184 3.43381 11.9377 3.43381C13.1157 3.43381 13.5687 4.15621 13.5687 5.17201V12.0574H16.4682Z' fill='%230E0E0E'/%3E%3Cpath d='M24.3623 12.3283C27.9866 12.3283 30.1613 9.70961 30.1613 6.59431C30.1613 3.50151 27.9866 0.882812 24.3623 0.882812C20.7605 0.882812 18.5859 3.50151 18.5859 6.59431C18.5859 9.70961 20.7605 12.3283 24.3623 12.3283ZM24.3623 9.77731C22.5727 9.77731 21.576 8.31001 21.576 6.59431C21.576 4.90111 22.5727 3.43381 24.3623 3.43381C26.1518 3.43381 27.1711 4.90111 27.1711 6.59431C27.1711 8.31001 26.1518 9.77731 24.3623 9.77731Z' fill='%230E0E0E'/%3E%3Cpath d='M42.5584 12.0574V4.35931C42.5584 2.23731 41.4032 0.882812 39.002 0.882812C37.2125 0.882812 35.876 1.74061 35.1738 2.57591V1.15371H32.2969V12.0574H35.1738V4.72051C35.6495 4.06591 36.5329 3.43381 37.6655 3.43381C38.8887 3.43381 39.6816 3.95301 39.6816 5.46551V12.0574H42.5584Z' fill='%230E0E0E'/%3E%3Cpath d='M50.4911 12.3283C54.1156 12.3283 56.2899 9.70961 56.2899 6.59431C56.2899 3.50151 54.1156 0.882812 50.4911 0.882812C46.8895 0.882812 44.7148 3.50151 44.7148 6.59431C44.7148 9.70961 46.8895 12.3283 50.4911 12.3283ZM50.4911 9.77731C48.7017 9.77731 47.7049 8.31001 47.7049 6.59431C47.7049 4.90111 48.7017 3.43381 50.4911 3.43381C52.281 3.43381 53.3001 4.90111 53.3001 6.59431C53.3001 8.31001 52.281 9.77731 50.4911 9.77731Z' fill='%230E0E0E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_191_7621'%3E%3Crect width='57' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

@media screen and (max-width: 960px) {
    .main__inner {
        min-height: 32rem;
        padding-top: 7.5em;
    }
    .main__content {
        max-width: 21.5rem;
    }
    .main__text {
        margin-top: 1rem;
        max-width: inherit;
    }
    .main__left {
        width: calc(50%);
    }
    .main__dec {
        height: 40em;
        width: 45rem;
        transform: rotate(137.64deg);
        top: -10.125rem;
        left: -24rem;
        z-index: 1;
        position: absolute;
    }
    .main__donat {
        width: 4rem;
        height: 4rem;
        bottom: -2rem;
        background-size: 1.8rem;
    }
}

@media screen and (max-width: 760px) {
    .main__inner {
        min-height: inherit;
        padding-top: 12.8em;
    }
    .main__content {
        max-width: inherit;
    }
    .main__left {
        height: 22.5rem;
        margin-top: 3.94rem;
        width: 100%;
        position: relative;
    }
    .main__dec {
        height: 40em;
        width: 45rem;
        transform: rotate(137.64deg);
        top: -10.125rem;
        left: -24rem;
        z-index: 1;
        position: absolute;
    }
    .main__mob {
        display: block;
    }
    .main__desc {
        display: none;
    }
    .main__decmob {
        width: 47.5rem;
        height: 16.063rem;
        top: -8.25rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
    }
    .main_triangle {
        width: 47.5rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        &::after {
            border-width: 0 13.75em 5.313em 0;
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-color: transparent var(--cw) transparent transparent;
            transform: rotate(0deg);
        }
    }
    .main__decsm {
        width: 9rem;
        height: 8.813ev;
        left: -1.375em;
        bottom: -4.438em;
        position: absolute;
    }
    .main__donat {
        display: none;
    }
}
