.section__supportus {
    margin-top: 11rem;
}

.supus__container {
    height: 44.0625rem;
    position: relative;
}

.supus__dec {
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    top: -1rem;
    bottom: -1rem;
    right: -1rem;
    left: -1rem;
    position: absolute;

    &.mob {
        display: none;
    }
}

.supus__list {
    padding-top: 3.17rem;
    padding-left: 3.88em;
    padding-right: 3.44em;
    column-gap: 6rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    position: relative;
    z-index: 2;
}

.supus__item {
    width: 14.5rem;
    height: 14.5rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--cbg);

    &:hover {
        &::before {
            left: -0.75rem;
            right: -0.75rem;
            bottom: -0.75rem;
            top: -0.75rem;
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }

    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
        background-color: var(--cy2);
        border-radius: 50%;
        position: absolute;
        content: "";
    }

    &::after {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 50%;
        background-color: var(--cy);
        transition: 0.3s;
        opacity: 0;
        content: "";
        position: absolute;
    }

    &:nth-child(1) {
        width: 13rem;
        height: 13rem;
        order: 3;
    }

    &:nth-child(2) {
        width: 23rem;
        height: 23rem;
        margin-left: 1rem;
        order: 2;
    }

    &:nth-child(3) {
        order: 1;
    }

    &:nth-child(4) {
        margin-top: -0.375rem;
        margin-right: 12.4rem;
        order: 4;
    }
}

.supus__unner {
    text-align: center;
    position: relative;
    z-index: 2;

    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

.supus__title {
    max-width: 36rem;
    bottom: 2.78rem;
    left: 0;
    position: absolute;
    z-index: 2;
}

.supus__smdec {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 3;

    &.dec1 {
        width: 8.0625rem;
        height: 5.38388rem;
        top: -2.12rem;
        right: 15.69rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='131' height='89' viewBox='0 0 131 89' fill='none'%3E%3Cpath d='M42.2892 74.2083C36.3325 73.8544 30.3594 73.8217 24.4081 74.2519C23.2755 74.3771 22.0885 74.3716 20.9451 74.5241C20.4224 73.7455 19.8289 73.5277 19.2789 73.8435C19.5512 72.9669 19.8234 72.0848 20.0848 71.2027C22.5023 63.1279 24.7565 54.9985 26.6895 46.793C26.9944 44.8111 28.5027 41.0377 27.8112 39.2844C25.4208 36.9649 23.9616 41.4787 22.9543 43.0687C20.7872 47.0217 18.5656 50.9584 16.3441 54.9005C15.8595 55.151 15.5165 55.8697 15.2714 56.8063C12.0698 62.5071 8.90629 68.2406 5.97691 74.0831C5.63933 74.0341 5.25276 74.1647 4.80627 74.5513C4.38157 75.4497 4.29446 76.4571 4.30535 77.4862C3.94598 78.2376 3.5866 78.9944 3.23267 79.7513C3.102 80.0235 2.9713 80.2903 2.84607 80.5626C2.37236 80.8566 2.03479 81.4719 2.11102 82.0926C1.8551 82.6262 1.5992 83.1652 1.33784 83.6989C0.744345 85.1472 -1.08515 87.5865 0.902255 88.6646C2.19271 89.0839 3.51036 88.5285 4.79537 88.18C4.85526 88.2399 4.91517 88.2998 4.98051 88.3543C5.84626 88.5448 6.35809 88.2671 6.65211 87.7335C7.56686 87.5049 8.47615 87.2762 9.3909 87.0529C9.92995 87.5756 10.5452 87.6246 11.2694 86.7426C11.2749 86.6936 11.2803 86.6446 11.2857 86.5901C12.0861 86.3995 12.8866 86.2035 13.687 86.0075C13.8122 86.3723 13.9483 86.7317 14.0953 87.0856C14.8032 88.0875 16.2624 87.4341 16.3387 86.3179C16.3223 86.0021 16.3005 85.6863 16.2788 85.3705C16.6055 85.2888 16.9376 85.2071 17.2643 85.1254C17.7979 85.2234 18.1899 85.0928 18.484 84.8205C19.4641 84.5646 20.4441 84.2978 21.4242 84.031C22.0994 84.4775 22.5786 84.2161 22.9379 83.6281C28.7586 82.049 34.5574 80.3938 40.3617 78.7439C42.1368 78.0797 44.3529 77.8891 45.6923 76.4462C46.7595 74.3499 43.6614 74.2083 42.2947 74.2029L42.2892 74.2083ZM32.9457 76.3917C32.5646 76.6803 32.2433 77.0506 31.9874 77.508C31.7206 77.0669 31.4593 76.6966 31.1979 76.3917C31.7805 76.3917 32.3631 76.3917 32.9403 76.3917H32.9457ZM29.4337 78.5479C29.5808 78.7984 29.7278 79.0271 29.8802 79.234C29.5971 79.3157 29.3085 79.3919 29.0199 79.4681C29.1615 79.1741 29.2976 78.8692 29.4337 78.5425V78.5479ZM26.6514 78.2974C26.4554 77.6549 26.2212 77.0778 25.9653 76.5823C26.5044 76.5496 27.0434 76.517 27.5825 76.4898C27.2449 76.9635 26.9345 77.5679 26.6514 78.292V78.2974ZM22.29 76.8981C22.2083 77.1486 22.1321 77.4263 22.0558 77.7312C22.0068 77.4535 21.9469 77.1921 21.8871 76.9417C22.0177 76.9253 22.1538 76.9145 22.2845 76.8981H22.29ZM15.2551 73.9524C15.3205 74.192 15.3803 74.4315 15.4457 74.6711C15.3858 74.6984 15.3259 74.7256 15.266 74.7637C15.2605 74.4969 15.2551 74.2246 15.2551 73.9524ZM17.5638 69.8632C17.1935 66.8086 16.8995 63.7431 17.2316 60.6667C17.8088 62.4799 18.0538 64.4346 18.6582 66.2369C18.2988 67.4457 17.934 68.6545 17.5638 69.8578V69.8632ZM19.7907 79.5716C20.1174 80.1923 20.2046 81.0036 20.3298 81.7986C20.0194 81.8802 19.7091 81.9564 19.4042 82.0381C19.5185 81.0853 19.5838 80.1379 19.7907 79.5716ZM23.6948 47.3974C22.78 51.1708 21.8217 54.9332 20.8035 58.6793C20.76 57.9443 20.7273 57.1983 20.7218 56.436C20.5476 55.0203 21.0975 53.5393 21.0158 52.1454C21.9251 50.5718 22.8236 48.9928 23.6948 47.3974ZM14.678 63.1387C14.678 63.3456 14.678 63.5253 14.678 63.6615C14.6017 63.6179 14.5255 63.5852 14.4547 63.558C14.5091 63.4545 14.5636 63.3511 14.618 63.2531C14.6398 63.215 14.6616 63.1823 14.678 63.1442V63.1387ZM12.7994 73.2119C12.3911 72.3843 12.1079 70.3642 11.4055 69.3242C11.8466 68.4639 12.2931 67.609 12.745 66.7542C12.7178 68.9049 12.7341 71.0611 12.7994 73.2119ZM8.62318 79.1632C8.31826 78.6623 8.05689 77.6495 7.72475 76.664C8.03511 76.0269 8.35091 75.3899 8.66672 74.7528C8.65583 76.419 8.70485 78.0579 8.62318 79.1687V79.1632ZM3.3797 85.7298C3.40692 85.8006 3.42868 85.8714 3.4559 85.9422C3.39056 85.9585 3.31978 85.9748 3.25444 85.9912C3.29256 85.904 3.33614 85.8169 3.3797 85.7298ZM6.9897 85.1145C6.9298 83.7261 6.70111 82.2614 6.81546 81.5045C7.18027 82.0654 7.59952 83.5137 8.13312 84.8423C7.75198 84.9348 7.37084 85.022 6.9897 85.1145ZM11.3892 84.0528C11.3184 81.461 10.8338 78.7984 11.068 76.2066C11.8738 78.6242 12.3203 81.1833 12.9737 83.6607C12.4455 83.7914 11.9173 83.9221 11.3892 84.0528ZM24.2556 79.2013C24.4407 79.7567 24.6313 80.2195 24.8219 80.6061C24.4897 80.6932 24.1576 80.7804 23.8255 80.8729C23.9779 80.1923 24.1086 79.5716 24.2556 79.2013ZM38.3907 76.8001C38.3852 76.7075 38.3743 76.615 38.3526 76.5333C38.6248 76.5442 38.8971 76.5605 39.1693 76.5714C38.9079 76.6476 38.6466 76.7239 38.3907 76.8001Z' fill='%234E91F6'/%3E%3Cpath d='M16.5508 79.773C47.7993 38.3642 96.6296 11.5098 129 2.67261' stroke='%234E91F6' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &.dec2 {
        width: 4.05594rem;
        height: 4.04675rem;
        top: 6.25rem;
        right: 8.85rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 66 66' fill='none'%3E%3Cpath d='M53.4958 22.7577C57.2048 23.7376 60.3085 26.7547 61.3883 30.435C62.4681 34.1152 61.4885 38.3315 58.8971 41.1588C56.7809 43.4672 53.7669 44.7973 50.6951 45.3938C47.6232 45.9904 44.4632 45.9138 41.3346 45.7836C40.281 45.7411 39.2045 45.6858 38.226 45.2944C37.2474 44.9031 36.3675 44.1035 36.1661 43.0683C35.8895 41.6443 37.013 40.2312 38.3796 39.7445C39.7461 39.2579 41.2622 39.4955 42.6575 39.8887C45.3948 40.6601 48.0663 42.1022 49.651 44.4633C50.5107 45.7429 50.9631 47.359 50.9589 48.8955C50.9436 54.2987 43.3118 55.7293 39.2973 56.2013C35.4153 56.6578 31.6224 56.6424 27.7248 56.1682C26.7574 56.0498 25.7732 55.8966 24.9125 55.4385C24.0518 54.9804 23.3272 54.162 23.2289 53.1926C23.0336 51.2768 25.3194 49.9479 27.2361 50.1271C29.1147 50.3004 30.8755 51.4456 31.7957 53.0931C32.7159 54.7405 32.7694 56.8407 31.9346 58.5311C30.4326 61.5747 26.6948 62.7051 23.3294 63.1461C17.3218 63.9322 11.1625 63.5197 5.31256 61.941' stroke='%23F8A0A0' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M45.8939 23.5019C46.2195 21.4001 46.8656 16.9948 46.9873 16.4015L55.7221 18.0986C55.7221 18.0986 48.7355 13.3392 48.5961 13.4022C51.3471 12.1633 54.1218 10.4832 56.8727 9.24428C53.1554 9.5432 46.1818 10.0362 46.0507 10.0467L47.3813 2.30072C45.5938 4.47549 44.273 7.8546 42.4855 10.0294C39.6604 9.10849 35.8149 8.14934 32.9898 7.22847C35.8918 9.49896 38.9455 11.8651 41.8475 14.1356C39.3284 15.323 36.4999 16.5412 33.9811 17.7309C36.9145 17.4486 43.1727 17.4086 43.1727 17.4086C44.1068 19.531 44.8035 21.4079 45.7376 23.5302' stroke='%23F8A0A0' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &.dec3 {
        width: 3.6875rem;
        height: 4.36825rem;
        top: 19.1rem;
        right: 31.37rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='71' viewBox='0 0 60 71' fill='none'%3E%3Cpath d='M57.299 63.4517C57.299 63.4517 51.6323 56.56 48.0296 51.7529C51.2084 51.2252 53.4996 50.5549 56.6778 50.0227C47.4397 43.4205 38.2016 36.8183 30.1113 30.387L39.1496 62.1073L43.2668 54.7971C46.4711 59.9229 52.2575 68.3251 52.2575 68.3251L57.299 63.4517Z' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.5963 41.6342L14.6006 49.9982' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.3952 32.3643C14.3666 32.8034 12.3156 32.9568 6.2911 33.3976' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.5098 22.5393C19.0527 19.8649 15.5997 17.1921 12.1426 14.5176' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M32.3616 18.6774C32.7142 14.8134 33.0693 10.9551 33.4219 7.09106' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40.8981 25.0805C45.0597 21.6911 46.3455 20.6433 50.5071 17.2539' stroke='%23F64E4E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &.dec4 {
        width: 4.9935rem;
        height: 7.81394rem;
        bottom: 4.09rem;
        right: 36.51rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84' height='130' viewBox='0 0 84 130' fill='none'%3E%3Cpath d='M28.7821 71.7561C20.0532 67.1257 14.5042 53.4496 16.6579 44.537C16.6833 52.0243 13.2183 68.2532 2 71.9398C11.0456 77.1974 16.9873 86.6104 15.6191 96.9799C15.3087 91.2409 19.3121 77.3875 28.7821 71.7625V71.7561Z' stroke='%23A0BEF8' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M73.2379 40.4893C61.1137 34.0598 53.4047 15.0628 56.3946 2.67261C56.4262 13.0738 51.6121 35.6118 36.0293 40.7363C48.5905 48.04 56.8506 61.1143 54.9503 75.5188C54.5196 67.5501 60.0749 48.306 73.2379 40.4893Z' stroke='%23A0BEF8' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M81.8971 107.685C74.9735 104.011 70.5648 93.1603 72.2751 86.0784C72.2941 92.0201 69.5449 104.898 60.6387 107.825C67.8156 111.999 72.5348 119.467 71.4453 127.696C71.1982 123.141 74.3718 112.145 81.8908 107.679L81.8971 107.685Z' stroke='%23A0BEF8' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
}

@media screen and (max-width: 960px) {
    .section__supportus {
        margin-top: 6rem;
    }
    .supus__container {
        height: inherit;
        position: relative;
    }
    .supus__dec {
        width: 22.375rem;
        height: 30.25rem;
        bottom: -0.438rem;
        left: 50%;
        transform: translateX(-50%);
        top: inherit;
        display: none;
        &.mob {
            display: block;
        }
    }
    .supus__list {
        width: 21.5rem;
        min-height: 29.125rem;
        padding: 0;
        padding-bottom: 0.5rem;
        margin: 0 auto;
        margin-top: 1.25rem;
        column-gap: 0;
        display: block;
        position: relative;
        &::after {
            width: 3.1875rem;
            height: 2.93494rem;
            bottom: -1.2em;
            right: 8.3em;
            transform: rotate(11.38deg);
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='52' viewBox='0 0 48 52' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.308593 26.2453C0.308593 23.684 1.7075 21.3272 3.95594 20.1004C8.42776 17.6606 15.1304 13.527 20.6149 9.15364C23.3715 6.95546 25.597 4.87226 27.069 3.07114C28.3693 1.48018 28.562 0.74049 28.5833 0.745396C28.5894 0.746804 28.5814 0.809643 28.5814 0.931382L42.5814 0.931381C42.5814 5.43226 40.064 9.29401 37.9092 11.9306C35.8178 14.4896 33.16 16.9724 30.3981 19.2453L47.2675 19.2453L47.2675 33.2453L30.3981 33.2453C33.16 35.5182 35.8178 38.001 37.9092 40.56C40.064 43.1966 42.5814 47.0583 42.5814 51.5592L28.5814 51.5592C28.5814 51.681 28.5894 51.7438 28.5833 51.7452C28.562 51.7501 28.3693 51.0104 27.069 49.4195C25.597 47.6184 23.3715 45.5352 20.6149 43.337C15.1304 38.9636 8.42776 34.83 3.95594 32.3902C1.7075 31.1634 0.308593 28.8066 0.308593 26.2453Z' fill='%23F6E54E'/%3E%3C/svg%3E");
        }
    }
    .supus__item {
        width: 7rem !important;
        height: 7rem !important;
        &:hover {
            z-index: 3;
        }
        &:hover {
            &::before {
                left: -0.5rem;
                right: -0.5rem;
                bottom: -0.5rem;
                top: -0.5rem;
            }
        }
        &:nth-child(1) {
            margin-left: 0.75rem;
            top: 0.563rem;
            position: relative;
        }
        &:nth-child(2) {
            width: 11.5rem !important;
            height: 11.5rem !important;
            margin-bottom: -0.75rem;
            margin-left: 8.25rem;
            &::before {
                left: -0.5rem;
                right: -0.5rem;
                bottom: -0.5rem;
                top: -0.5rem;
            }
            &::after {
                opacity: 1;
            }
        }

        &:nth-child(3) {
            margin-bottom: -3.313rem;
            margin-left: 0.75rem;
        }

        &:nth-child(4) {
            margin-left: 9.81rem;
            margin-bottom: 0.125rem;
        }
    }
    .supus__unner {
        p {
            font-size: 0.75rem;
            line-height: 1rem;
            max-width: 6rem;
        }
    }
    .supus__title {
        max-width: inherit;
        bottom: 0;
        left: 0;
        position: static;
    }
    .supus__smdec {
        &.dec1 {
            width: 5.1875rem;
            height: 3.46406rem;
            bottom: 25.84em;
            left: 50%;
            transform: translateX(0.875em);
            top: auto;
        }
        &.dec2 {
            width: 3.36844rem;
            height: 3.36081rem;
            bottom: 10.46rem;
            left: calc(50% - 7.125em);
            transform: translateX(-100%) rotate(-60deg);
            top: auto;
        }

        &.dec3 {
            width: 2.18044rem;
            height: 2.58294rem;
            bottom: 10.85em;
            top: auto;
            transform: translateX(5.188em);
            left: 50%;
        }

        &.dec4 {
            width: 2.75rem;
            height: 4.30325rem;
            bottom: 4.95rem;
            left: 50%;
            transform: translateX(7em);
        }
    }
}
