<section class="section__about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <div class="section__upper">Життєлюб</div>
        <h1>Про фонд</h1>
        <div class="main__text">
          <p>
            «Життєлюб» підтримує людей поважного віку. Проєкти фонду направлені на допомогу у закритті всіх їхніх потреб. Життєлюби можуть отримувати у нас гарячі обіди та сертифікати на медичні обстеження, ходити на курси та навчатися нових професій.
          </p>
          <p>
            Безкоштовно займатися спортом та хобі, отримувати психологічну підтримку, знайомитися з новими людьми та будувати життя згідно зі своїми внутрішніми орієнтирами.
          </p>
        </div>
      </div>
      <div class="about__right">
        <img src="/img/backgrounds/about__img.png" alt="" class="contain desc">
        <img src="/img/backgrounds/about__mob.png" alt="" class="contain mob">
        <img src="/img/decor/about__dec.png" alt="" class="about__dec desc">
        <img src="/img/decor/about__mob.png" alt="" class="about__dec mob">
    </div>
    </div>
  </div>
</section>
