<section class="section__faq">
  <div class="container">
    <h2>Поширені запитання</h2>
    <div class="faq__container">
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Duis aute irure dolor in reprehenderit
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            What markets do you specialize in?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Cillum dolore eu fugiat nulla 
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Excepteur sint occaecat cupidatat non proident
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim.
            </p>
          </div>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Sunt in culpa qui officia deserunt mollit anim
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
