<section class="section__foundators">
  <div class="container">
    <h2>Засновники фонду</h2>
    <ul class="foundators__list teamList">
      <li class="foundators__item">
        <div class="foundators__top">
          <img
            src="/img/content/found_1.png"
            alt=""
            class="foundatoes__photo"
          />
          <div class="foundators__bg">
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" class="team__copy" data-copy="ozadovskayal@gmail.com" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="/" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="founders__name">Гарік Корогодський</div>
      </li>
      <li class="foundators__item">
        <div class="foundators__top">
          <img
            src="/img/content/found_2.png"
            alt=""
            class="foundatoes__photo"
          />
          <div class="foundators__bg">
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" class="team__copy" data-copy="ozadovskayal@gmail.com" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="founders__name">Тіна Михайловська</div>
      </li>
    </ul>
  </div>
</section>
