<section class="section__mission">
  <div class="container">
    <div class="mission__container">
      <div class="mission__heading">
        <h2>Наші цілі та місія</h2>
        <p class="mission__desc">
          «Життєлюб» повертає любов до життя з 2013 року. Ми створили та
          продовжуємо просувати соціальний тренд на залученість людей поважного
          віку до всіх соціальних процесів.
        </p>
      </div>
      <div class="mission__list flex">
        <div class="mission__item">
          <div class="mission__num">1</div>
          <div class="mission__name">Цілі <br />фонду</div>
          <div class="mission__text">Свобода від стереотипів</div>
        </div>
        <div class="mission__item">
          <div class="mission__num">2</div>
          <div class="mission__name">Місія <br />фонду</div>
          <div class="mission__text">Повертаємо любов до життя</div>
        </div>
      </div>
      <div class="mission__bottom flex">
        <div class="mission__bottomtext">
          <span>1</span>
          <p>
            Наші проєкти сприяють взаєморозумінню та радості між усіма
            учасниками, незалежно від віку, зміцнюють зв'язок між поколіннями,
            просувають свободу від стереотипів та підтримують видимість та
            практичну допомогу для людей похилого віку, сприяючи розвитку
            культурі благодійності.
          </p>
        </div>
        <div class="mission__bottomtext">
          <span>2</span>
          <p>
            Ми показуємо, що у будь-якому віці та за будь-яких життєвих обставин
            можна жити повноцінним життям, бути активним та сучасним, цікавитися
            новим та не заганяти себе у межі стереотипів
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
