<section class="section__reviews">
  <div class="container">
    <h2>
      Допомагати — круто!
      <br />Ось що кажуть волонтери
    </h2>
  </div>
  <!-- sp =  n * 6;  sp2 = sp / 2 -->
  <style>
    .moveLEft > div {
      animation: animate 48s -48s linear infinite;
    }
    .moveLEft > div:nth-child(2) {
      animation: animate2 48s -24s linear infinite;
    }
    .moveRight > div {
      animation: animateR 48s -48s linear infinite;
    }
    .moveRight > div:nth-child(2) {
      animation: animate2R 48s -24s linear infinite;
    }
  </style>
  <div class="reviews__content">
    <div class="reviews__scroll moveLEft scroll">
      <div>
        <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c2">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c3">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c2">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
      </div>
      <div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c2">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c3">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c2">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__scroll moveRight scroll">
      <div>
        <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c2">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c3">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
          <div class="reviews__item">
            <div class="reviews__top flex centerV">
              <div class="trviews__avatar flex centerF c2">ЮК</div>
              <div class="reviews__inform">
                <div class="reviews__name">Юлія</div>
                <div class="reviews__dwsc">Обід без бід</div>
              </div>
            </div>
            <p class="reviews__text">
              До будиночку треба завжди приходити з гарним настроєм — це закон.
              Тому що наші підопічні все помічають і всіляко намагаються підняти
              настрій: жартами, посмішками і навіть пригощають цукерками.
            </p>
          </div>
      </div>
      <div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c2">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c3">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__top flex centerV">
            <div class="trviews__avatar flex centerF c2">ЮК</div>
            <div class="reviews__inform">
              <div class="reviews__name">Юлія</div>
              <div class="reviews__dwsc">Обід без бід</div>
            </div>
          </div>
          <p class="reviews__text">
            До будиночку треба завжди приходити з гарним настроєм — це закон.
            Тому що наші підопічні все помічають і всіляко намагаються підняти
            настрій: жартами, посмішками і навіть пригощають цукерками.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
