<section class="section__teams">
  <div class="container">
    <h2>Команда фонду</h2>
    <ul class="teams__list teamList">
      <li class="teams__item showStart">
        <div class="teams__top">
          <img src="/img/content/team_1.png" alt="" class="teams__photo" />
          <div class="teams__bg blue leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_1.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Антоніна Зубкова</div>
      </li>
      <li class="teams__item showStart">
        <div class="teams__top">
          <img src="/img/content/team_2.png" alt="" class="teams__photo" />
          <div class="teams__bg blue">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_2.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Лідія Озадовська</div>
      </li>
      <li class="teams__item showStart">
        <div class="teams__top">
          <img src="/img/content/team_3.png" alt="" class="teams__photo" />
          <div class="teams__bg leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_3.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Тетяна Фролова</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_4.png" alt="" class="teams__photo" />
          <div class="teams__bg">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_4.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Даша Невєрова</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_5.png" alt="" class="teams__photo" />
          <div class="teams__bg blue">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_5.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Юлія Демчик</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_6.png" alt="" class="teams__photo" />
          <div class="teams__bg blue leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_6.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Оля Пальона</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_7.png" alt="" class="teams__photo" />
          <div class="teams__bg leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_7.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Альона Бондарева</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_8.png" alt="" class="teams__photo" />
          <div class="teams__bg blue leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_8.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Олена Галушко</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_9.png" alt="" class="teams__photo" />
          <div class="teams__bg leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_9.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Наталія Леонтьєва</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_10.png" alt="" class="teams__photo" />
          <div class="teams__bg leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_10.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Віта Пташник</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_11.png" alt="" class="teams__photo" />
          <div class="teams__bg blue">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_11.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Дарина Варич</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_12.png" alt="" class="teams__photo" />
          <div class="teams__bg blue leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_12.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Інна Короленко</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <img src="/img/content/team_13.png" alt="" class="teams__photo" />
          <div class="teams__bg blue leftDec">
            <button class="team__infotoggle"></button>
            <div class="team__dec">
              <img src="/img/icons/t_13.svg" alt="" class="contain" />
            </div>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Віктор Кириченко</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <div class="teams__bg blue notImg">
            <img src="/img/content/team_none.svg" alt="" />
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Юля Попко</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <div class="teams__bg notImg">
            <img src="/img/content/team_none.svg" alt="" />
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Настя Голубева</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <div class="teams__bg blue notImg">
            <img src="/img/content/team_none.svg" alt="" />
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Богдан Бєляєв</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Юля Попко</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <div class="teams__bg notImg">
            <img src="/img/content/team_none.svg" alt="" />
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Катерина Протасевич</div>
      </li>
      <li class="teams__item">
        <div class="teams__top">
          <div class="teams__bg notImg">
            <img src="/img/content/team_none.svg" alt="" />
            <button class="team__infotoggle"></button>
          </div>
          <div class="team__informcont">
            <div class="teaminfo__text">
              Виконавча директорка, керівниця відділу фандрейзингу
            </div>
            <ul class="teaminfo__list">
              <li class="email">
                <a href="#" target="_blank">ozadovskayal@gmail.com</a>
              </li>
              <li>
                <a href="#" target="_blank">Фейсбук профіль</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teams__name">Наталія Богатая</div>
      </li>
    </ul>
    <div class="team__mob">
        <button class="showAllTeam button gray witharrow bottom">
            <span>Показати більше</span>
            <span>Приховати</span>
        </button>
    </div>
  </div>
</section>
