<div class="popup" id="success">
  <div data-popup="success" class="popup__overlay"></div>
  <div class="popup__container">
    <div class="popup__inner">
      <div class="popup__top">
        <button data-popup="success" class="popup__close"></button>
        <div class="popup__title">Запит прийнято!</div>
        <p class="popup__text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa.
        </p>
      </div>
      <div class="success__img flex">
        <img src="/img/decor/success.svg" alt="">
      </div>
      <button  data-popup="success" class="button popup__button border witharrow">
        До сайту Життєлюб
      </button>
    </div>
  </div>
</div>
