<div class="popup" id="volontear">
  <div data-popup="volontear" class="popup__overlay"></div>
  <div class="popup__container">
    <div class="popup__inner">
      <div class="popup__top">
        <button data-popup="volontear" class="popup__close"></button>
        <div class="popup__title">Доєднатись як Волонтер</div>
        <p class="popup__text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa.
        </p>
      </div>
      <form class="popup__form contact__form submitForm">
        <div class="form__fields flex">
          <label>
            <span>Імʼя та прізвище</span>
            <input
              type="text"
              name="name"
              class="input"
              placeholder="Пишіть тут"
              data-required="true"
            />
          </label>
          <label class="part">
            <span>Номер телефону</span>
            <input
              type="tel"
              name="phone"
              class="input"
              placeholder="Пишіть тут"
              data-required="true"
            />
          </label>
          <label class="part">
            <span>Ваш Email</span>
            <input
              type="email"
              name="email"
              class="input"
              placeholder="Пишіть тут"
              data-required="true"
            />
          </label>
          <label class="part">
            <span>Ваш вік</span>
            <select name="age" class="form__selector">
              <option value="18-28" selected>18-28</option>
              <option value="29-40">29-40</option>
              <option value="40-55">40-55</option>
              <option value="55+">55+</option>
            </select>
          </label>
          <label class="part">
            <span>Я можу допомогти</span>
            <select name="age" class="form__selector">
              <option value="з Доставкою наборів" selected>
                з Доставкою наборів
              </option>
              <option value="З Організацєю заходів">
                З Організацєю заходів
              </option>
              <option value="зі Збором допомоги">зі Збором допомоги</option>
            </select>
          </label>
        </div>
        <button type="submit" class="button yellow witharrow">
          <span>Відправити</span>
        </button>
      </form>
    </div>
  </div>
</div>
