.section__page {
    padding-top: 10.5rem;
}

.page__container {
    max-width: 69rem;
    margin: 0 auto;

    & > h1 {
        font-size: 4rem;
        line-height: 4.5rem;
        display: flex;
        justify-content: space-between;
    }
}

.page__content {
    margin-top: 3rem;
}

.page__date {
    white-space: nowrap;
    padding-left: 1.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--fs);
    color: var(--ct2);
}

@media screen and (max-width: 960px) {
    .section__page {
        padding-top: 12.8rem;
    }
    .page__container {
        & > h1 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    .page__content {
        margin-top: 2rem;
    }
    .page__date {
        padding-left: 0;
    }
}