<section class="section__join">
  <div class="container">
    <div class="join__content flex jcsb">
      <div class="joun__info">
        <h2>Долучитись як волонтер</h2>
        <p>
          Заповнюйте форму, якщо хочете стати волонтером фонду і доєднатися до
          проєктів «Обід без бід», «Простір Життєлюб», «Трудолюб» і «Життєлюб
          Поруч». У кожному з цих проєктів можна знайти користь для себе та
          стати корисним для інших.
        </p>
      </div>
      <button data-popup="volontear" class="button white">Хочу допомогти</button>
      <img src="/img/decor/join__dec.png" alt="" class="join__dec">
    </div>
  </div>
</section> 
