<section class="section__project">
  <div class="container">
    <div class="projectp__top">
      <ul class="project__tags flex">
        <li class="active">Активний</li>
        <li class="partners">Запрошуємо Партнерів</li>
        <li class="hairing">Шукаємо Волонтерів</li>
        <li class="arch">Архівний</li>
      </ul>
      <a href="#" class="project__qr">
        <img src="/img/content/qr.png" alt="" />
        <span>Підтримати</span>
      </a>
    </div>
    <h1 class="projectp__title">Агентство дорослих моделей «Життєлюб»</h1>
    <div class="project__progresscont">
      <div class="project__prline">
        <span style="width: 25%"></span>
      </div>
      <div class="project__prbottom flex jcsb">
        <div class="project__prpart">
          <span>Зібрано</span>
          <div class="sum">₴ 24 565.41</div>
        </div>
        <div class="project__prpart">
          <span>Ціль збору</span>
          <div class="sum">₴ 150 000.00</div>
        </div>
      </div>
    </div>
    <div class="project__container">
      <div class="projectp__img">
        <img src="/img/content/projectp.jpg" alt="" />
      </div>
      <div class="project__content embeded">
        <h2>Агентство дорослих моделей «Життєлюб» працює з 2018 року.</h2>
        <p>
          Це перше в Україні агентство, яке представляє моделей віку 50+. Місія
          проєкту – показати, що краса поза віком, поза трендами та поза
          параметрами. Краса – це внутрішній стан людини, її ставлення до життя.
        </p>
        <p>
          Моделі нашого агентства беруть участь в фотосесіях для різних брендів,
          друкованих та інтернет-видань, знімаються в рекламних роликах, в
          епізодичних ролях в кіно, серіалах та кліпах. До повномасштабного
          вторгнення наші моделі також брали участь у подіумних показах молодих
          українських дизайнерів.
        </p>
        <p>
          Приклади співпраці: рекламні ролики та фотосесії для Helen Marlen,
          Musthave, lifecell.ua, SHEVCHENKO BRAND, Zhilyova, BetterMe,
          Rozetka.fashion, BellaFit, BAZHANE, Studio Zola, LETTER K, ESTRO та
          багатьох інших.
        </p>
        <div class="gutenberg__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src="/img/content/embed1.jpg" alt="" class="cover" />
              </li>
              <li class="splide__slide">
                <img src="/img/content/embed1.jpg" alt="" class="cover" />
              </li>
              <li class="splide__slide">
                <img src="/img/content/embed1.jpg" alt="" class="cover" />
              </li>
            </ul>
          </div>
          <div class="splide__arrows flex bottom__arrows">
            <button class="splide__arrow splide__arrow--prev"></button>
            <button class="splide__arrow splide__arrow--next"></button>
          </div>
        </div>
        <h2>
          Наше агентство налічує понад 40 моделей віком від 50 до 85 років, по
          всьому світу.
        </h2>
        <p>
          З початком повномасштабної війни частина наших моделей евакуювалася в
          інші країни – зараз вони живуть також в Німеччині, Польщі, Швейцарії,
          Узбекистані та Африці. І продовжують нести красу там – наприклад, в
          Польщі та Німеччині наші дорослі дівчата знімалися для брендів одягу
          та взуття.
        </p>
        <p>
          Ми завжди раді та відкриті до співпраці з дизайнерами, режисерами,
          фотографами, стилістами, рекламними та кастинг-агентствами. З питань
          співпраці можна звертатися до координаторки проєкту – Даші Невєровій
          на пошту
          <a href="mailto:dashaprokopenko@ukr.net">dashaprokopenko@ukr.net</a>
        </p>
        <p>
          Якщо вам виповнилося 50 років і ви маєте бажання спробувати себе як
          модель, надішліть на електронну пошту
          <a href="mailto:dashaprokopenko@ukr.net">dashaprokopenko@ukr.net</a>
          дві свої світлини: у повний зріст та портрет. Фото повинні бути гарної
          якості, без обробки, без гримас та напівобертів, без аксесуарів на
          голові.
        </p>
      </div>
    </div>
    <div class="projectp__bottom">
      <div class="project__supcont">
        <div class="project__suptitle">Проєкт реалізовано при підтримці:</div>
        <ul class="project__suplist">
          <li>
            <img src="/img/icons/sup_1.png" alt="" class="contain" />
          </li>
          <li>
            <img src="/img/icons/sup_2.png" alt="" class="contain" />
          </li>
          <li>
            <img src="/img/icons/sup_3.png" alt="" class="contain" />
          </li>
          <li>
            <img src="/img/icons/partn_1.svg" alt="" class="contain" />
          </li>
        </ul>
      </div>
      <div class="project__actionscont flex jcsb centerV">
        <div class="project__actionspart flex centerV">
          <button
            data-start="Копіювати посилання"
            data-end="Скопійовано"
            class="project__copy"
          >
            Копіювати посилання
          </button>
          <a href="/donate.html" class="project__help button yellow">Підтримати проєкт</a>
        </div>
        <div class="project__actionspart">
          <div class="project__sharecont flex centerV jcsb">
            <span>Поділитись через:</span>
            <aside id="secondary" class="widget-area">
              <section>
                <div
                  class="a2a_kit a2a_kit_size_32 addtoany_list"
                  style="line-height: 32px"
                >
                  <a class="a2a_button_linkedin" href="#" target="_blank">
                    <img
                      src="/img/icons/linkedin.svg"
                      width="32"
                      height="32"
                      alt="LinkedIn"
                    />
                  </a>
                  <a class="a2a_button_facebook" href="#" target="_blank">
                    <img
                      src="/img/icons/facebook.svg"
                      width="32"
                      height="32"
                      alt="Facebook"
                    />
                  </a>
                  <a class="a2a_button_x" href="#" target="_blank">
                    <img
                      src="/img/icons/x.svg"
                      width="32"
                      height="32"
                      alt="X"
                    />
                  </a>
                </div>
              </section>
            </aside>
            <style>
              .a2a_button_copy_link::before {
                content: 'Поділитися';
              }
            </style>
          </div>
        </div>
      </div>
      <div class="project__helpcont">
        <h2><span>Потребуєте допомоги?</span></h2>
        <p>
            Якщо ви потребуєте допомоги — заповнюйте форму, і ми обовʼязково <br>з вами звʼяжемось та допоможемо нашими проєктами.
        </p>
        <a href="#" class="button yellow">
            Заповнити форму
        </a>
      </div>
    </div>
  </div>
</section>
