<section class="section__join">
  <div class="container">
    <div class="join__content flex jcsb blue">
      <div class="joun__info">
        <h2>Долучитись як партнер</h2>
        <p>
          Якщо ви хочете робити добрі справи та підтримати культуру
          благодійності в Україні, заповнюйте форму. Для кожного бізнесу,
          мецената та волонтера ми придумаємо індивідуальний формат взаємодії.
        </p>
      </div>
      <a href="#" class="button white">Хочу допомогти</a>
      <img src="/img/decor/join_b.png" alt="" class="join__dec" />
    </div>
  </div>
</section>
