<section class="section__prtns">
  <div class="container">
    <h1>Звіти діяльності</h1>
    <div class="main__text">
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="prtns__container">
      <div class="prtns__part">
        <div class="prtns__name">
          <span>Партнери-бізнеси</span>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_5.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_6.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_7.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_8.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_9.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_10.svg" alt="" class="contain">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="prtns__part">
        <div class="prtns__name">
          <span>Партнери-донори</span>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_8.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_9.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_11.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_12.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_13.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_14.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain">
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
