<section class="section__partlist">
  <div class="container">
    <ul class="partlist__list flex">
      <li class="partlist__item">
        <div class="partlist__img">
          <img src="/img/content/partlist_1.jpg" class="cover" alt="" />
        </div>
        <div class="partlist__top flex jcsb centerV">
          <div class="partlist__part">
            <div class="partlist__name">
              <span>Простір Життєлюб</span> Ipsum dolor sit amet
            </div>
          </div>
          <div class="partlist__part flex">
            <a href="#" class="button border">Підтримати</a>
            <a href="#" class="button yellow">Стати партнером</a>
          </div>
        </div>
        <div class="partlist__niddle flex jcsb">
          <div class="partlist__part">
            <p class="partlist__text">
              Місце, де Ба та Ді зможуть безплатно займатися спортом та танцями,
              відвідувати лекції та майстер-класи. А також знайомитися та
              спілкуватися між собою.
            </p>
          </div>
          <div class="partlist__part">
            <ul class="partlist__cats flex">
              <li>
                <a href="#">Соціальна підтримка</a>
              </li>
              <li>
                <a href="#">Медична допомога</a>
              </li>
              <li>
                <a href="#">Доступ до інформації та ресурсів</a>
              </li>
              <li>
                <a href="#">Фізична активність</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="partlist__part partlist__mob">
          <a href="#" class="button border">Підтримати</a>
          <a href="#" class="button yellow">Стати партнером</a>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="partlist__item">
        <div class="partlist__img">
          <img src="/img/content/partlist_1.jpg" class="cover" alt="" />
        </div>
        <div class="partlist__top flex jcsb centerV">
          <div class="partlist__part">
            <div class="partlist__name">
              <span>Простір Життєлюб</span> Ipsum dolor sit amet
            </div>
          </div>
          <div class="partlist__part flex">
            <a href="#" class="button border">Підтримати</a>
            <a href="#" class="button yellow">Стати партнером</a>
          </div>
        </div>
        <div class="partlist__niddle flex jcsb">
          <div class="partlist__part">
            <p class="partlist__text">
              Місце, де Ба та Ді зможуть безплатно займатися спортом та танцями,
              відвідувати лекції та майстер-класи. А також знайомитися та
              спілкуватися між собою.
            </p>
          </div>
          <div class="partlist__part">
            <ul class="partlist__cats flex">
              <li>
                <a href="#">Соціальна підтримка</a>
              </li>
              <li>
                <a href="#">Медична допомога</a>
              </li>
              <li>
                <a href="#">Доступ до інформації та ресурсів</a>
              </li>
              <li>
                <a href="#">Фізична активність</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="partlist__part partlist__mob">
          <a href="#" class="button border">Підтримати</a>
          <a href="#" class="button yellow">Стати партнером</a>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="partlist__item">
        <div class="partlist__img">
          <img src="/img/content/partlist_1.jpg" class="cover" alt="" />
        </div>
        <div class="partlist__top flex jcsb centerV">
          <div class="partlist__part">
            <div class="partlist__name">
              <span>Простір Життєлюб</span> Ipsum dolor sit amet
            </div>
          </div>
          <div class="partlist__part flex">
            <a href="#" class="button border">Підтримати</a>
            <a href="#" class="button yellow">Стати партнером</a>
          </div>
        </div>
        <div class="partlist__niddle flex jcsb">
          <div class="partlist__part">
            <p class="partlist__text">
              Місце, де Ба та Ді зможуть безплатно займатися спортом та танцями,
              відвідувати лекції та майстер-класи. А також знайомитися та
              спілкуватися між собою.
            </p>
          </div>
          <div class="partlist__part">
            <ul class="partlist__cats flex">
              <li>
                <a href="#">Соціальна підтримка</a>
              </li>
              <li>
                <a href="#">Медична допомога</a>
              </li>
              <li>
                <a href="#">Доступ до інформації та ресурсів</a>
              </li>
              <li>
                <a href="#">Фізична активність</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="partlist__part partlist__mob">
          <a href="#" class="button border">Підтримати</a>
          <a href="#" class="button yellow">Стати партнером</a>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="partlist__item">
        <div class="partlist__img">
          <img src="/img/content/partlist_1.jpg" class="cover" alt="" />
        </div>
        <div class="partlist__top flex jcsb centerV">
          <div class="partlist__part">
            <div class="partlist__name">
              <span>Простір Життєлюб</span> Ipsum dolor sit amet
            </div>
          </div>
          <div class="partlist__part flex">
            <a href="#" class="button border">Підтримати</a>
            <a href="#" class="button yellow">Стати партнером</a>
          </div>
        </div>
        <div class="partlist__niddle flex jcsb">
          <div class="partlist__part">
            <p class="partlist__text">
              Місце, де Ба та Ді зможуть безплатно займатися спортом та танцями,
              відвідувати лекції та майстер-класи. А також знайомитися та
              спілкуватися між собою.
            </p>
          </div>
          <div class="partlist__part">
            <ul class="partlist__cats flex">
              <li>
                <a href="#">Соціальна підтримка</a>
              </li>
              <li>
                <a href="#">Медична допомога</a>
              </li>
              <li>
                <a href="#">Доступ до інформації та ресурсів</a>
              </li>
              <li>
                <a href="#">Фізична активність</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="partlist__part partlist__mob">
          <a href="#" class="button border">Підтримати</a>
          <a href="#" class="button yellow">Стати партнером</a>
        </div>
        <div class="prtns__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
              </li>
              <li class="prtns__item splide__slide">
                <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
