<section class="section__contact">
    <div class="container">
        <div class="contact__container flex">
            <div class="contact__left">
                <img src="/img/backgrounds/contact.jpg" alt="" class="cover">
            </div>
            <div class="contact__right">
                <h2>Звʼязатись з нами</h2>
                <p class="contact__text">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
                <form class="contact__form submitForm statForm">
                    <div class="form__fields flex">
                        <label class="part">
                            <span>Імʼя</span>
                            <input type="text" name="name" class="input" placeholder="Пишіть тут" data-required="true">
                        </label>
                        <label class="part">
                            <span>Телефон</span>
                            <input type="tel" name="phone" class="input" placeholder="Пишіть тут" data-required="true">
                        </label>
                        <label>
                            <span>Email</span>
                            <input type="email" name="email" class="input" placeholder="Пишіть тут" data-required="true">
                        </label>
                        <label>
                            <span>Коментар</span>
                            <textarea name="message" class="textarea" placeholder="Пишіть тут"></textarea>
                        </label>
                    </div>
                    <button type="submit" class="button yellow witharrow">
                        <span>Відправити</span>
                    </button>
                    <div class="submited__Block">
                        <div class="submited__inform">
                            <h2>Успішно!</h2>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        </div>
                    </div>
                </form>
                <img src="/img/decor/contact__dec.png" alt="" class="contact__dec">
            </div>
        </div>
    </div>
</section>