<div class="section__infographick section__simple">
    <div class="container">
        <ul class="infogr__list flex">
            <li class="infogr__item">
                <div class="infogr__top">
                    <span>180<span>+</span></span> млн. грн
                </div>
                <div class="infogr__bottom">
                    Вартість допомоги наданої фондом
                </div>
            </li>
            <li class="infogr__item">
                <div class="infogr__top">
                    <span>640<span>+</span></span> тис.
                </div>
                <div class="infogr__bottom">
                    Людей отримали допомогу
                </div>
            </li>
            <li class="infogr__item">
                <div class="infogr__top">
                    <span>3906<span class="pink">+</span></span> тонн
                </div>
                <div class="infogr__bottom">
                    Гуманітарної допомоги
                </div>
            </li>
            <li class="infogr__item">
                <div class="infogr__top">
                    <span>79<span>+</span></span> тис. км
                </div>
                <div class="infogr__bottom">
                    Подолали гуманітарні вантажі
                </div>
            </li>
        </ul>
    </div>
</div>