<div class="section__infographick section__simple">
  <div class="container">
    <div class="info__heading">
      <h2>Життєлюб в цифрах</h2>
      <p class="info__desc">
        Ми робимо все, щоб люди поважного віку жили повноцінним життям – вчилися
        новому, займалися спортом та хобі, працювали на кваліфікованих роботах,
        були здоровими та з вогником в очах.
      </p>
    </div>
    <ul class="infogr__list flex">
      <li class="infogr__item">
        <div class="infogr__bottom">Відвантажено гуманітарної допомоги</div>
        <div class="infogr__part">
          <img src="./img/icons/info_1.svg" alt="" class="infoimg" />
          <div class="infogr__top"><span>3 831+</span> млн. грн</div>
        </div>
      </li>
      <li class="infogr__item">
        <div class="infogr__bottom">Людей отримали допомогу від фонду</div>
        <div class="infogr__part">
          <img src="./img/icons/info_2.svg" alt="" class="infoimg" />
          <div class="infogr__top"><span>698+</span> тис.</div>
        </div>
      </li>
      <li class="infogr__item">
        <div class="infogr__bottom">Надали допомоги <br>на суму</div>
        <div class="infogr__part">
          <img src="./img/icons/info_3.svg" alt="" class="infoimg" />
          <div class="infogr__top"><span>205+</span> млн грн</div>
        </div>
      </li>
      <li class="infogr__item">
        <div class="infogr__bottom">Подолали наші гуманітарні вантажі</div>
        <div class="infogr__part">
          <img src="./img/icons/info_4.svg" alt="" class="infoimg" />
          <div class="infogr__top"><span>82+</span> тис. км</div>
        </div>
      </li>
    </ul>
  </div>
</div>
