<section class="section__main">
    <div class="container">
        <div class="main__inner">
            <div class="main__content">
                <div class="section__upper">
                    Благодійний фонд
                </div>
                <h1>
                    Життєлюб
                </h1>
                <div class="main__text">
                    <p>
                        <b>Фонд працює з 2013 року, його засновники – Тіна Ніколова (Михайловська) та Гарік Корогодський. </b>
                    </p>
                    <p>
                        Ми робимо все, щоб люди поважного віку жили повноцінним життям – вчилися новому, займалися спортом та хобі, працювали на кваліфікованих роботах, були здоровими та з вогником в очах.
                    </p>
                </div>
            </div>
            <a href="#" class="main__donat"></a>
        </div>
    </div>
    <div class="main__left">
        <img src="./img/backgrounds/main.png" alt="" class="main__bg main__desc">
        <img src="./img/backgrounds/main_mob.jpg" alt="" class="cover main__mob">
        <img src="./img/decor/main_dec.png" alt="" class="main__dec main__desc">
        <img src="./img/decor/main__decmob.png" alt="" class="main__decmob main__mob">
        <img src="./img/decor/main__decsm.png" alt="" class="main__decsm main__mob">
        <div class="main_triangle main__mob"></div>
    </div>
</section>