<section class="section__partnears">
  <div class="container">
    <div class="partnears__container">
      <div class="partnears__heading">
        <h2>Наші партнери</h2>
      </div>
      <div class="partnears__content">
        <div class="splide partnearsSlider">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_1.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_2.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_3.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_4.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_5.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_6.svg" class="contain" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="partn__slide" target="_blank">
                  <img src="/img/icons/partn_7.svg" class="contain" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
