<section class="projects__section section__simple">
    <div class="container">
        <div class="projects__container">
            <div class="projects__top flex centerV jcsb">
                <h2>Проєкти фонду</h2>
                <a href="/projects.html" class="button white witharrow">
                    <span>Всі проєкти</span>
                </a>
            </div>
            <ul class="projects__list hoveProjectList">
                <load="../elements/project.html" />
                <load="../elements/project.html" />
                <load="../elements/project.html" />
                <load="../elements/project.html" />
                <load="../elements/project.html" />
                <load="../elements/project.html" />
            </ul>
            <div class="projects__bottom">
                <a href="/projects.html" class="button white witharrow">
                    <span>Всі проєкти</span>
                </a>
            </div>
        </div>
    </div>
</section>