<section class="sertificated__section section__simple">
  <div class="container">
    <div class="sert__container">
      <div class="sert__info">
        <h3>Сертифікація міжнародної платформи CAF America</h3>
        <p>
          БО «БФ «Життєлюб» пройшов незалежну перевірку та отримав 
          <br>сертифікацію міжнародної платформи CAF America.
        </p>
      </div>
      <div class="sert__logo">
        <img src="./img/icons/sert__logo.svg" alt="">
      </div>
      <img src="./img//decor//sert__dec.png" alt="" class="sert__dec">
    </div>
  </div>
</section>
