<section class="section__supportus">
  <div class="container">
    <div class="supus__container">
      <h2 class="supus__title">Підтримайте нашу діяльність</h2>
      <ul class="supus__list">
        <li class="supus__item">
          <div class="supus__unner">
            <h4>Донат</h4>
            <p>Разова допомога</p>
          </div>
        </li>
        <li class="supus__item">
          <div class="supus__unner">
            <h4>Підписка</h4>
            <p>Щомісячний донат</p>
          </div>
        </li>
        <li class="supus__item">
          <div class="supus__unner">
            <h4>Діями</h4>
            <p>волонтерскі програми</p>
          </div>
        </li>
        <li class="supus__item">
          <div class="supus__unner">
            <h4>Компаніям</h4>
            <p>платежі за реквізитами</p>
          </div>
        </li>
      </ul>
      <img src="./img/decor/supus.png" alt="" class="supus__dec" />
      <img src="./img/decor/supus_mob.png" alt="" class="supus__dec mob" />
      <div class="supus__smdec dec1"></div>
      <div class="supus__smdec dec2"></div>
      <div class="supus__smdec dec3"></div>
      <div class="supus__smdec dec4"></div>
    </div>
  </div>
</section>
