<section class="section__donate">
  <div class="container">
    <h1>Підтримати фонд</h1>
    <div class="main__text">
      <p>
        Якщо у вас є питання, ви хочете стати нашим партнером чи поволонтерити <br>у проєктах фонду — заповнюйте форму, і ми обовʼязково з вами звʼяжемося.
      </p>
    </div>
    <div class="donate__container flex">
        <div id="mono" class="donate__left">
            <div class="donate__tabsctrl flex">
                <button data-tab="tab1" class="donate__ctrlbtn active">
                    Донат
                </button>
                <button data-tab="tab2" class="donate__ctrlbtn">
                    Підписка
                </button>
                <button data-tab="tab3" class="donate__ctrlbtn">
                    Монобанка
                </button>
            </div>
            <div class="donate__tabs">
                <form class="donate__tab active" id="tab1">
                    <div class="donate__optionstop flex jcsb centerV">
                        <div class="donate__sum">
                            50
                        </div>
                        <div class="donate__currency">
                            <select name="currency" class="donate__sel">
                                <option value="UAH" selected>UAH</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </div>
                    </div>
                    <div class="donate__options">
                        <div data-cur="UAH" class="donate__optionsgroup active">
                            <label>
                                <input type="radio" checked name="sum" value="50">
                                <span>+50 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="500">
                                <span>+500 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="1000">
                                <span>+1000 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="2000">
                                <span>+2000 UAH</span>
                            </label>
                        </div>
                        <div data-cur="USD" class="donate__optionsgroup">
                            <label>
                                <input type="radio" name="sum" value="5">
                                <span>+5 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="10">
                                <span>+10 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="50">
                                <span>+50 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="200">
                                <span>+200 USD</span>
                            </label>
                        </div>
                        <div data-cur="EUR" class="donate__optionsgroup">
                            <label>
                                <input type="radio" name="sum" value="5">
                                <span>+5 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="10">
                                <span>+10 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="50">
                                <span>+50 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="200">
                                <span>+200 EUR</span>
                            </label>
                        </div>
                    </div>
                    <div class="donate__actions flex">
                        <button class="button black donate__sumbit">
                            Задонатити разово
                        </button>
                        <a href="#" class="button border donate__pay">
                            <img src="/img/icons/pay_1.svg" alt="">
                        </a>
                        <a href="#" class="button border donate__pay">
                            <img src="/img/icons/pay_2.svg" alt="">
                        </a>
                    </div>
                </form>
                <form class="donate__tab" id="tab2">
                    <div class="donate__optionstop flex jcsb centerV">
                        <div class="donate__sum">
                            50
                        </div>
                        <div class="donate__currency">
                            <select name="currency" class="donate__sel">
                                <option value="UAH" selected>UAH</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                        </div>
                    </div>
                    <div class="donate__options">
                        <div data-cur="UAH" class="donate__optionsgroup active">
                            <label>
                                <input type="radio" checked name="sum" value="50">
                                <span>+50 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="500">
                                <span>+500 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="1000">
                                <span>+1000 UAH</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="2000">
                                <span>+2000 UAH</span>
                            </label>
                        </div>
                        <div data-cur="USD" class="donate__optionsgroup">
                            <label>
                                <input type="radio" name="sum" value="5">
                                <span>+5 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="50">
                                <span>+10 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="50">
                                <span>+50 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 USD</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="200">
                                <span>+200 USD</span>
                            </label>
                        </div>
                        <div data-cur="EUR" class="donate__optionsgroup">
                            <label>
                                <input type="radio" name="sum" value="5">
                                <span>+5 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="10">
                                <span>+10 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="50">
                                <span>+50 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="100">
                                <span>+100 EUR</span>
                            </label>
                            <label>
                                <input type="radio" name="sum" value="200">
                                <span>+200 EUR</span>
                            </label>
                        </div>
                    </div>
                    <div class="donate__actions flex">
                        <button class="button black donate__sumbit">
                            Щомісячний платіж
                        </button>
                        <a href="#" class="button border donate__pay">
                            <img src="/img/icons/pay_1.svg" alt="">
                        </a>
                        <a href="#" class="button border donate__pay">
                            <img src="/img/icons/pay_2.svg" alt="">
                        </a>
                    </div>
                </form>
                <form class="donate__tab" id="tab3">
                    <div class="donate__qrcont flex centerV">
                        <div class="donate__qrimg">
                            <img src="/img/content/donate_qr.png" alt="">
                        </div>
                        <div class="donate__qrrigth">
                            <p class="donate__qrtext">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <button type="button" data-copy="linknostrud/exercitation/ullamco.com" class="donate__copy">
                                <span>linknostrud/exercitation/ullamco.com</span>
                            </button>
                            <img src="/img/decor/donate__dec.png" alt="" class="donate__deg">
                        </div>
                        <button class="button black donate__tomono">
                            Перейти до монобанки
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="req" class="donate__right">
            <div class="req__title">
                Реквізити
            </div>
            <ul class="req__list flex jcsb">
                <li class="part">
                    <span>Код ЄДРПОУ</span>
                    <button data-copy="39895749" class="donate__copy">
                        <span>39895749</span>
                    </button>
                </li>
                <li class="part">
                    <span>АТ КБ </span>
                    <button data-copy="ПриватБанк" class="donate__copy">
                        <span>ПриватБанк</span>
                    </button>
                </li>
                <li>
                    <span>МФО</span>
                    <button data-copy="335548 р/р " class="donate__copy">
                        <span>335548 р/р </span>
                    </button>
                </li>
                <li>
                    <span>IBAN</span>
                    <button data-copy="UA573355480000026004053620800З" class="donate__copy">
                        <span>UA573355480000026004053620800З</span>
                    </button>
                </li>
                <li>
                    <span>Призначення платежу</span>
                    <div class="donate__nocopy">
                        <span>«Благодійний внесок на статутну діяльність»</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
