<section class="section__join">
  <div class="container">
    <div class="join__content flex jcsb news">
      <div class="joun__info">
        <h2>Новини для волонтерів</h2>
        <p>
          Для того, щоб бути в курсі усіх волонтерських новин проєктів фонду, <br>підписуйтесь на наш телеграм-канал
        </p>
      </div>
      <a href="#" class="button white">Телеграм Канал</a>
      <img src="/img/decor/hart.svg" alt="" class="join__dec hart">
      <img src="/img/decor/join_b.png" alt="" class="join__dec">
    </div>
  </div>
</section> 
