<section class="section__similar section__simple">
  <div class="container">
    <h2>Більше новин</h2>
    <div class="similar__container">
      <div class="similar__carousell blog splide">
        <div class="splide__track">
          <ul class="splide__list">
            <load="../elements/newsitem.html" />
            <load="../elements/newsitem.html" />
            <load="../elements/newsitem.html" />
            <load="../elements/newsitem.html" />
            <load="../elements/newsitem.html" />
            <load="../elements/newsitem.html" />
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
